body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    background-color: black;
    color: white;
}

.container{
    width: 350px;
    height: auto;
    background-color: gray;
    border-radius: 5px;

    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    flex-direction: column;
    padding: 8px;
}
.input-container{
    padding: 5px;
    
}
#toto-input{
    padding: 8px;
    border-radius: 5px;
    
   
}
#add-task-btn{
    padding: 8px;
    background-color: rgb(199, 141, 253);
   
    border-radius: 5px;
    
}
#add-task-btn:hover{
    background-color: rgb(125, 18, 225)
    
}
/* #todo-list{} */
    

li button{
    background-color: rgb(251, 69, 69);
    border-radius: 5px;
    margin-left: 180px;
    position: fixed;       
}
li button:hover{
    background-color: rgb(179, 8, 8) ;
}


li{
    list-style-type: none;
    background-color:rgb(205, 202, 202);
    box-sizing: border-box;
    width: 260px;
    margin: 5px;     
    height: 40px;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    color: black;
    display: flex;
    margin-right: 50px;
    /* padding: 20px; */
    /* text-align: center;  */
    

}

.completed{
    text-decoration: line-through;
    background-color:rgb(168, 166, 166) ;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}